.button{
    margin-left: 700px;
    position: absolute;
    top: 950px;
    left: 650px;
    
}

.button:hover{
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
        transition: 1s ease;
    
}